body{
  width: 100%;
}
.navbar-nav .nav-item {
    margin-right: 10px; 
}

 .links {
    color: #000000;
    font-weight:bolder;
    text-decoration: none;
}

.links:hover {
    color: #007bff;
}

.navbar-nav .nav-link img {
    max-width: 130px;
}

.nav-links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 115px;
}

.nav-links-container img {
    margin-right: 10px;
}

form.d-flex {
    height: 30px;
    margin-top: 15px;
    width: 450px;
}

.navy {
    margin-top: 10px;
    font-size: 14px;
}

.navs{
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.imgs{
    border-radius: 10%;
}


.footer{
    background-color: rgb(4, 4, 74);
    padding: 20px;
}
.container_grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .container {
    color: white;
  }

  .maps {
    text-align: right;
  }

  .images img {
    width: 100px;
    height: 100px;
  }


.end{
    display: flex;
    justify-content: space-between;
}
.end ul {
    list-style: none; 
    display: flex;
    flex-direction: row;
  }

  .end li {
    margin-right: 15px; 
  }

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.chat-box {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #3498db;
    background-color: #ecf0f1;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    max-height: 400px;
    overflow-y: auto;
  }

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #e74c3c;
    font-size: 18px;
  }

  .chat_img {
    margin-right: 10px;
    border-radius: 50%;
  }

  .chat-content {
    padding: 10px;
  }

  .chat-heading {
    color: #2c3e50;
    font-size: 18px;
    margin-top: 10px;
  }

  .chat-para {
    color: #34495e;
    margin-bottom: 10px;
  }

  .chat-contents {
    margin-top: 20px;
  }

  .chat-contents h5 {
    color: #2c3e50;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .chat-icons {
    display: flex;
    margin-bottom: 10px;
  }

  .chat-icons img {
    margin-right: 10px;
    border-radius: 50%;
  }

  .chat-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .chat-buttons button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
 


/* //resoponisives */

@media (max-width: 767px) {
  .navbar-nav {
      flex-wrap: wrap;
      justify-content: center;
  }

  .navbar-nav .nav-item {
      margin-right: 0;
      margin-bottom: 10px; 
  }

  .nav-links-container {
    text-align: center;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  }

.second_div {
    text-align: center;
    
    justify-content: center;
    margin-bottom: 20px;
}
.navs {
    padding: 10px; 
}

.card {
  margin-bottom: 10px; 
}
.image1 img {
height: auto; 
}


.iframe{
width: 300px;
}
.end{
  display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.navs{
  display: none;
}

.single_section_header {
  display: none;
}

}



.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-right: 15px; 
}

 
.checkboxes {
    /* width:275px ; */
    max-height: 200px;
    overflow-y: scroll;
}


.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 20px;
  left:30px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1a918a;
}

input:focus + .slider {
  box-shadow: 0 0 1px#1a918a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-80 {
  width: 100%;
}


#toggleButton{
/* visibility: hidden; */
}